.location{
    @include pad{
        padding-top: 60px;
        padding-bottom: 96px;
    }
    @include mobile{
        padding-top: 28px;
        padding-bottom: 56px;
    }
}
.location-list-item{
    width: 30.333%;
    margin-right: 30px;
    margin-bottom: 32px;
    border: 1px solid  #00000020;
    @include pad{
        width: 45%;
        margin-bottom: 20px;
    }
    @include mobile{
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    } 
    .shop-info{
        padding: 16px 24px;
    }
    h3{
        font-size: 24px;
        padding: 12px 24px;
        border: 1px solid  #00000020;
        @include pad{
            font-weight: bold;
            font-size: 16px;
        }
    }
}
@include pad{
    .location-list-item{
        &:nth-child(even){
            margin-right: 0;
        }
    }
}
.location{
    h2{
        font-weight: bold;
        font-size: $font-l;
        margin-bottom: 60px;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        @include pad{
            font-size: 48px;
            margin-bottom: 40px;
        }
        @include mobile{
            font-size: 28px;
            margin-bottom: 24px;
            padding-left: 8px;
            border-left: 4px solid #9F1213;
        }
    }
}
.select-zone{
    label{
        font-size: 24px;
        margin-right: 20px; 
        @include pad{
            font-size: 16px;
        }
        @include mobile{
            font-size: 14px;
            margin-right: 12px;
        }
    }
    @include mobile{
        margin-bottom: 20px;
    }
}
.select-city{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    width: 237px;
    border: 1px solid #CED4DA;
}
.shop-info{
    a{
        color: #000;
    }
}
.shop-info-item{
    font-size: 20px;
    @include pad{
        font-size: 14px;
    }
    img{
        margin-right: 10px;
    }
    span{ 
        font-size: 14px;
    }
}
.shop-info-link{
    display: block;
    background-color:#000000;
    border: 1px solid  #00000020;
    color: #fff;
    padding: 20px 0;
    font-size: 19px;
    &:hover{
        background-color: $bg-primary;
    }
    @include pad{
        font-size: 14px;
        padding: 16px 0;
    }
} 