.qa{
    @include pad{
        padding-top: 60px;
        padding-bottom: 96px;
    }
    @include mobile{
        padding-top: 28px;
        padding-bottom: 56px;
    }
    h2{
        font-size: $font-l;
        line-height: 80px;  
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        margin-bottom: 60px;
        @include pad{
            border-left: 4px solid #9F1213;
            margin-bottom: 40px;
            
        }
        @include mobile{
            font-size: 28px;
            padding-left: 8px;
            margin-bottom: 24px;
            line-height: 40px;
        }
    }
    h3{
        font-size: $font-m;
        margin-bottom: 36px;
        @include pad{
            margin-bottom: 32px;
        }
        @include mobile{
            font-size: 20px;
            margin-bottom: 24px;
        }
    }
    h4{
        margin-bottom: 16px;
        font-size: $font-s;
    }
    p{
        margin-bottom: 32px;
        padding-left: 7%;
        @include pad{
            margin-bottom: 24px;
        }
        @include mobile{
            margin-bottom: 20px;
            padding-left: 0;
        }
    }
}