.header{
    background-color: $bg-primary;
    padding: 0  56px 0 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile{
        flex-direction: column;
        padding: 0;
    }
    h1{
        @include mobile{
            margin: 0 auto;
            padding: 10px 0;
        }
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        li{
            font-size: 20px;
            &:nth-child(4){
                margin-right: 0;
            }
            @include mobile{
                width: 50%;
                margin-right: 0;
                text-align: center;
                border: 1px solid #fff;
                // padding: 8px 0;
            }
        }
        a{
            padding: 38px 32px 41px 32px;
            color: #fff;
            &:hover{
               background:pink;
            }
            @include pad{
                padding:  38px 20px 41px 20px;
            }
        }
    }
}
@include pad{
    .header{
        padding: 0 19px 0  39px;
    }
}
@include mobile{
    .header{
        padding: 0 ;
    }
}
@include mobile{
    .header{
        .menu{
            a{
                padding:8px  0;
            }
        }
    }
}
//表尾區塊
.footer{
    background-color:$bg-primary;
    padding-top: 32px;
    padding-bottom: 40px;
    @include pad{
        padding-bottom: 32px;
    }
    @include mobile{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .footer-menu{
        display: flex;
        margin-bottom: 42px;
        li{
            margin-right: 48px;
        }
        a{
            color: #fff;
            &:hover{
                color: #000;
            }
        }
        @include mobile{
            display: none;
        }
    }
}
.footer-head-content{
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
}
.contact-phone{
    img{
        margin-right: 22px;
        @include pad{
            margin-right: 10px;
            width: 18px;
            height: 18px;
        }
        @include mobile{
            margin-right: 6px;
            width: 15px;
            height: 15px;
        }
    }
    a{
        font-size: 36px;
        &:hover{
            color: #000;
        }
        @include pad{
            font-size: 20px;
        }
        @include mobile{
            font-size: 16px;
        }
    }
}
.contact-mail{
    img{
        margin-right: 20px;
        @include pad{
            margin-right: 10px;
            width: 20px;
            height: 16px;
        }
        @include mobile{
            margin-right: 6px;
            width: 16px;
            height: 13px;
        }
    }
    a{
        font-size: 36px;
        &:hover{
            color: #000;
        }
        @include pad{
            font-size: 20px;
        }
        @include mobile{
            font-size: 16px;
        }
    }
}
.social-link{
    img{
        @include pad{
            width: 24px;
            height: 24px;
            &:nth-child(3){
                margin-right: 0;
            }
        }
    }
    a{
        &:hover{
            background: aqua;
        }
    }
}
.footer-body{
    span{
        @include mobile{
            margin-bottom: 8px;
            font-size: 14px;
        }
    }
    @include mobile{
        flex-direction: column;
        .copy-text{
            flex-direction: column;
        }
    }
}
.copy-text{
    p{
        @include mobile{
            margin-bottom: 8px;
            font-size: 14px;
        }
    }a{
        &:hover{
            color: #000;
        }
    }
}

